.advisor_container {
  display: flex;
  width: 1440px;
  padding: 0 var(--space-20, 80px);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.advisor_section {
  display: flex;
  width: 1280px;
  max-width: 1280px;
  padding-bottom: var(--space-20, 80px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid var(--border-default, #e2e8f0);
  border-left: 1px solid var(--border-default, #e2e8f0);
  background: var(--bg-page-base, #fafbff);
}

.advisor_header {
  display: flex;
  padding: var(--space-20, 80px) 0;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-right: 1px solid var(--border-default, #e2e8f0);
  border-left: 1px solid var(--border-default, #e2e8f0);
}

.advisor_header_inner {
  display: flex;
  padding: 0 var(--space-60, 240px) 0 var(--space-20, 80px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-15, 6px);
  flex: 1 0 0;
}

.advisor_title {
  color: var(--text-primary, #0f2035);
  font-family: var(--font-family-font-family, "Rethink Sans");
  font-size: var(--font-size-text-4xl, 36px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-text-4xl, 40px);
}

.advisor_subtitle {
  flex: 1 0 0;
  color: var(--text-tertiary, #94a3b8);

  /* heading/heading-1 */
  font-family: var(--font-family-font-family, "Rethink Sans");
  font-size: var(--font-size-text-4xl, 36px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-text-4xl, 40px); /* 111.111% */
}

.advisors_lines {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

.advisor_2_boxes {
  display: flex;
  align-items: flex-start;
  gap: var(--space-5, 20px);
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid var(--border-default, #e2e8f0);
}

.advisor_break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.advisor_tiles_row {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: flex-start;
}

.advisor_tiles_column {
  display: flex;
  flex-direction: column;
}

.advisor_cards_column {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
